@import "../../scss/base";

.nav_bar {
    position: fixed;
    z-index: 6;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 15px 0;
    transform: translateY(0);
    transition: all $nav_transition_duration, color 1ms, background-color 1ms;
    &--hidden {
        transform: translateY(-100%);
    }
    .row {
        &> * {
            margin: auto 0;
        }
    }

    &__search {
        border: 2px solid #fff;
        border-radius: 3px;
        width: 318px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        &> input {
            @include font;
            border: none;
            outline: none;
            background-color: transparent;
            height: 100%;
            padding: 0 20px;
            color: #fff;
            width: calc(100% - 35px);
            &::placeholder {
                color: $color_theme;
            }
        }
        &> button {
            background-color: transparent;
            border: none;
            outline: none;
            margin: auto 0;
            height: 100%;
            padding: 0 19px;
            @media (max-width: 425px) {
                padding-left: 8px;
                padding-right: 13px;
            }
        }
    }
    @media (max-width: 767px) {
        .sign-in {
            span {
                display: none;
            }
            &-mobile {
                margin-left: auto;
            }
        }
    }
    &__center-content {
        @media (max-width: 1199px) {
            justify-content: flex-end;
            .nav_bar__search {
                width: auto;
                flex: 1;
            }
        }

        column-gap: 50px;
        justify-content: center;
        .sign-in {
            color: #494949;
            &> img {
                width: 24px;
                height: 24px;
            }
        }
    }

    &__icon-links {
        &__wrapper {
            margin-left: auto;
        }
        list-style-type: none;
        display: inline-flex;
        flex-direction: row;
        column-gap: 44px;
        margin: auto 0;
        padding: 0;
        &> li {
            margin-left: auto;
            &> a {
                color: #fff;
                &:not(.inactive-button):hover {
                    color: $color_theme;
                }

            }
        }
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            font-size: 23px;
            &.icon-fb {
                font-size: 24px;
                position: relative;
                top: -1px;
            }
            &.icon-youtube {
                position: relative;
                top: -1px;
            }
        }
    }

    @media (max-width: 1199px) {
        .nav_bar__middle {
            margin-left: auto;
        }
    };
    @media (max-width: 767px) {
        .nav_bar__middle {
            margin-left: 0;
        }
    }
}

.logo {
    &> * {
        margin: auto 0;
    }
    column-gap: 8px;
    &__splitter {
        flex-basis: 1px;
        flex-grow: 0;
        flex-shrink: 0;
        height: 40px;
        background-color: #fff;
        border-radius: 10000px;
    }

    p {
        span {
            @include font($font-weight: 900, $font-size: 15.35px, $line-height: 1.28);
            color: $color_theme;
        }
        @include font($font-size: 11px, $line-height: 1.28);
        color: #fff;
        font-size: 11px !important;
    }
}