$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-full_heart: "\e903";
$icon-emptystar: "\e902";
$icon-arrow: "\e900";
$icon-fb: "\e901";
$icon-half_star: "\e913";
$icon-full_star: "\e914";
$icon-heart: "\e915";
$icon-youtube: "\e917";
$icon-instagram: "\e918";

